<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TupleCache" value="100" />
    <add key="QueueConnectionString" value="Endpoint=sb://bluewater.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=mzeD74GJGCY7l/lCfryTHtMaKle4S+KDz+5o0G/AKDo=" />
    <add key="QueueName" value="twitterevents" />

    <add key="StorageAccountName" value="bluewaterdata" />
    <add key="StorageAccountKey" value="RtQJj7NKoDmXY09oGiUKIQ/Uzr3kQ5xVpPJgBKwsjRGOCRcQDRKspm0ZSKZ2UpyZLQV5wARAUMKBX1+Kc7aaCQ==" />
    <add key="StorageAccountContainer" value="twitter" />

    <add key="SQLConnectionString" value="Server=tcp:n56pm8ta4u.database.windows.net,1433;Database=Twitter;User ID=HDAdmin@n56pm8ta4u;Password=P@ssw0rd1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />

    <add key="BingApiKey" value="AuQywSFVSoVlGKmVPgkeoQYbNGcE9-1QKluJbXbvq9wmy641RW2jEFLIK6lXhRkQ"/>

    <add key="HBaseServerUrl" value="https://bluewaterhbase2.azurehdinsight.net"/>
    <add key="HBaseUsername" value="admin"/>
    <add key="HBasePassword" value="$avannaH1979"/>

    <add key="TwitterAccessToken" value= "388397385-FpayzsSEiem5Wpx2MHYPflyAwOAy4YixMYWX6vBh" />
    <add key="TwitterAccessSecret" value="Bd6RrzrE8fnnaEEHOYzwyXjEEKNf4mjClNWt76bbYkbRg" />
    <add key="TwitterAPIKey" value="sxlkudju4k3tBBi8k5ILoLfYJ" />
    <add key="TwitterAPISecret" value="s164uCjSOzPo0Umvu60oNqQa4RumoM7htOBXZU6ldaEf2k8vdK" />
  </appSettings>
</configuration>